{% extends "layout.html" %}
{% block content %}


{# {get_flashed_messages()} 

{% if loggedIn %}
{{username}}'s Blog!
<br>
<br>

<form action = "/newpost">
  <input type = "submit" value = "New Post">
</form> 
<br>
{{blogcontent}}
<br>
<form action = "/editpost">
  <input type = "submit" value = "Edit Post">
</form>
{% endif %}


{% if loggingOut %}
<p> Logged out successfully! </p>
<br>

{% endif %}
    
{% if error %}
<p> {{errorStatement}} </p>
<br>
{% endif %}
#}


<a href="login"> Login! </a>
<br>
<a href="signup">Sign Up!</a>


<form action = "/search">
  Search:
  <input type = "text" name="search">
  <input type = "submit" value = "search"> 
  <br>
</form>

<!--{# {% if loggingOut %}
<form action = "/logout">
  <input type = "submit" value = "logout">
</form>
{ % endif % } #}
-->

{% endblock %}
