{% extends "layout.html" %}

{% block body %}

{% set messages=get_flashed_messages() %}
{% for message in messages %}
{{message}}
{% endfor %}
<br>

{% if loggedIn %}
Welcome {{username}}
<br>
<br>
<form method="POST" action = "/newpost">
  <input type = "submit" value = "New Post">
</form> 
<form method="POST" action = "/editpost">
  <input type = "submit" value = "Edit Post">
</form>
{% endif %}

{% if loggingOut %}
<p> Logged out successfully! </p>
<br>

{% endif %}

{% if not loggedIn %}
<a href="login"> Login! </a>
<br>
<a href="signup">Sign Up!</a>
{% else %}
<form method="POST" action = "/logout">
  <input type = "submit" value = "Logout">
</form>
{% endif %}

<form action = "/search">
  Search:
  <input type = "text" name="search">
  <input type = "submit" value = "search"> 
  <br>
</form>
{% endblock %}
