<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

    {% if loggingOut %}
    <p> Logged out successfully! </p>
    <br>
    {% endif %}
    
    {% if error %}
    <p> {{errorStatement}} </p>
    <br>
    {% endif %}
    
    <form method="POST" action="/response">
      Username:
      <br>
      <input type="text" name="username">
      <br>
      Password:
      <br>
      <input type="password" name="password">
      <br>
      <input type="submit" value="Submit">
    </form>    
  </body>

</html>
